{% load static %}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bulma Flex 布局示例</title>
    <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>


    
 <header class="navbar is-primary has-shadow py-5 ">

        <div class="navbar-brand ">
            <a class="navbar-item " href="#">
                <div class="title is-4">成果管理平台</div>
                <strong></strong>
            </a>
            <a role="button" class="navbar-burger" aria-label="菜单" aria-expanded="false" data-target="navbarMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-start">
                
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <a class="navbar-item" href="#">首页</a>
                <a class="navbar-item" href="#">关于我们</a>
                <a class="navbar-item" href="#">服务</a>
                
                    <div class="buttons">
                        <a class="button is-light"  href="{% url 'admin:index' %}">后台</a>
                       
                    </div>
                </div>
            </div>
        </div>
    </header>

<section class=" columns is-fullheight ">
    
       <aside class="sidebar " id="sidebar">
        <h2 class="subtitle">侧边栏</h2>
        <button class="button is-small" onclick="toggleSidebar()">
            <span class="icon"><i class="fas fa-bars"></i></span>
        </button>
        <ul>
            <li>
                <a href="#">
                    <span class="icon"><i class="fas fa-home"></i></span> <span class="text">Home</span>
                </a>
            </li>
            <li>
                <a href="#" onclick="toggleSubmenu(event)">
                    <span class="icon"><i class="fas fa-link"></i></span> <span class="text">Links</span>
                </a>
                <ul class="submenu">
                    <li>
                        <a href="#">
                            <span class="icon is-small"><i class="fas fa-angle-right"></i></span> Link1
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon is-small"><i class="fas fa-angle-right"></i></span> Link2
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><i class="fas fa-info"></i></span><span class="text"> About</span>
                </a>
            </li>
        </ul>
    </aside>

  <div class="container column is-10 ">
    <div class="section">
        {% block content %}

      <div class="card">
        <div class="card-header"><p class="card-header-title">Header</p></div>
        <div class="card-content"><div class="content">Content</div></div>
      </div>
      <br />
      
   {% endblock %}
      
    </div>
  </div>
  
</section>

<footer class="footer">
  <div class=" has-text-centered ">
    <p>
      <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>.
      The source code is licensed
      <a href="https://opensource.org/license/mit">MIT</a>. The
      website content is licensed
      <a href="https://creativecommons.org/licenses/by-nc-sa/4.0//"
        >CC BY NC SA 4.0</a
      >.
    </p>
  </div>
</footer>
    
<script src="{% static 'js/script.js' %}"></script>

</body>
</html>